fastapi
uvicorn
pandas
matplotlib
seaborn
jinja2
scikit-learn
python-multipart
langgraph
langgraph-prebuilt
langgraph-sdk
langgraph-checkpoint-sqlite
notebook
langgraph-cli[inmem]
numpy
openai
statsmodels
mangum
